# Ignorar a pasta de dependências do Node.js
node_modules/

# Ignorar arquivos de variáveis de ambiente
.env

# Ignorar a pasta de compilação (gerada pelo Vite, neste caso)
dist/

# Ignorar o cache de dependências do Vite
.vite/