# Node.js
node_modules/
dist/
.vite/
pnpm-lock.yaml

# Variáveis de Ambiente e Arquivos de Configuração Ocultos
.env
.DS_Store # Arquivos do macOS
.vscode/ # Configurações do VSCode
.idea/   # Configurações do WebStorm/IntelliJ

# Logs e arquivos de cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/

# Sistema operacional
.DS_Store
Thumbs.db